.sectionCards {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-size:cover;

    .contenedor-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {

            width: 320px;
            height: 251px;

            margin: 1%;
            padding: 4%;
            background: #F6F6F6;
            /* Shadow */

            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
            border-radius: 8px;

            svg {
               color:  #DC0D28;
                margin-bottom: 10px;
            }

            h5 {
                font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 10px;
            }

            p {
                font-family: Helvetica;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.56);

            }


            &:hover {
                background: linear-gradient(90deg, #f61b10, #ef0963);
                transform: translateY(-1.5%);
                // transition: ease-in;
                // transition: 0.4s;
                transition: all .3s cubic-bezier(.645,.045,.355,1);
                -webkit-font-smoothing: antialiased;
                svg{
                    color: #ffff;
                }

                h5 {
                    color: #F6F6F6;
                    transform: translateY(-2%);
                    transition: 0.3s;
                    transform: scale(1.05, 1.05);

                }

                p {
                    color: #F6F6F6;
                    transform: translateY(-2%);
                    transition: 0.3s;
                    transform: scale(1.05, 1.05);
                }



            }


        }
    }
}