header {
    // temporal
    // background: #262626;
    background-size: cover;
    // temporal
   height: 90px;

    display: flex;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;


    .logo-mob {
        padding: 2% 2%;

        a {
            img {


                height: 38px;


            }
        }
    }

    nav {

        padding-right: 4%;
        padding-top: 0%;

        ul {
            width: 60%;
            display: flex;
            align-items: flex-end;
            justify-content: space-evenly;
          

            li {
                padding: 14%;
               
                // Hover que hacía que no fuera transparente
                &:hover {
                    background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) ) ;
                }
               
                .link-menu {
                  
                    text-decoration: none;
                    font-weight: bold;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.5px;
                    color: rgba(255, 255, 255, 0.75);

                    &:hover {

                        color: #DC0D28;
                        border-bottom: 2px solid #DC0D28;
                        

                    }

                }
                
                .btn{
                    text-decoration: none; 
                    box-sizing: border-box;
                    border: 2px solid rgba(255, 255, 255, 0.5);
                    border-radius: 6px;
                   
                    &:hover{
                    background-color: #DC0D28;
                    border: 2px solid #DC0D28;
                    color: rgba(255, 255, 255, 0.75);

                    }
                }

            }

        }
    }
}