/* Nuestro Portfolio */
.portfolio-header {
    padding: 60px 0 60px 220px;
    // padding-top: 71px;
    // padding-left: 220px;

    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
}

.portfolio-header::before {
    content: "-";
    color: #eb004e;
    padding-right: 15px;
}

/* Portfolio Container */
.portfolio-container {
    display: flex;
    justify-content: center;
    padding-bottom: 121px;
}

.portfolio-item {
    height: 467px;
    position: relative;
    
    img {
        transition: all 250ms;

        &:hover {
            transform: scale(1.07);
        }
    }
    
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;

        height: 467px;
        width: 340px ;

        // background: #eb004e;
    }
}

.responsive {
    display: none;
}

/* Fin Portfolio */