/* Nuestro Portfolio */
.portfolio-header {
    padding: 50px 0 50px 220px;

    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
}

.portfolio-header::before {
    content: "-";
    color: #eb004e;
    padding-right: 15px;
}

/* Portfolio Container */
.portfolio-container {
    display: flex;
    justify-content: center;
    padding-bottom: 115px;

    .portfolio-item {
        // height: 467px;
        position: relative;
        transition: all 250ms;
        
        &:hover {
            transform: scale(1.07);
        }
        
    
        // Si coloco el before para el degradado del efecto, no me funciona el link
    
        // &::before {
        //     content: " ";
        //     position: absolute;
        //     top: 1px;
        //     left: 9px;
    
        //     height: 470px;
        //     width: 322px ;
        //     border-radius: 8px;
    
        //     background: linear-gradient(rgba(239, 9, 99, 1), rgba(239, 9, 99, 0));
        //     opacity: 0;
        // }
    
        // &:hover::before {
        //     opacity: 1;
        // }
    }
}

// Media Querys

// Mobile S
@media only screen and (max-width: 320px) {
    /* Nuestro Portfolio */
    .portfolio-header {
        padding: 25px 0 25px 20px;

        font-size: 30px;
        
        &::before {
            content: "-";
            color: #eb004e;
            padding-right: 15px;
        }
    }

    .responsive {
        width: 310px;
        margin: 0 auto;
    }
}

// Mobile M
@media only screen and (min-width:321px) and (max-width: 375px) {
    /* Nuestro Portfolio */
    .portfolio-header {
        padding: 25px 0 25px 25px;

        font-size: 35px;
    }

    .responsive {
        width: 320px;
        margin: 0 auto;
    }
}

// Mobile L
@media only screen and (min-width:376px) and (max-width: 425px) {
    /* Nuestro Portfolio */
    .portfolio-header {
        padding: 25px 0 25px 25px;

        font-size: 37px;
    }

    .responsive {
        width: 340px;
        margin: 0 auto;
    }
}

// Tablet
@media only screen and (min-width:480px) and (max-width: 768px) {
    /* Nuestro Portfolio */
    .portfolio-header {
        width: 500px;
        padding: 40px 0 40px 40px;

        font-size: 48px;
    }

    .portfolio-container {
        margin: 0 auto;
        padding-bottom: 30px;

        display: flex;
        flex-wrap: wrap;

        .portfolio-item {
            width: 235px;

            img {
                width: 235px;
            }
        }
    }
}

// Cards
@media only screen and (max-width:425px) {
    .portfolio-container {
        display: none;
    }
}

@media only screen and (min-width:426px) {
    .responsive {
        display: none;
    }
    
}

/* Fin Portfolio */