* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "../sass/header";
@import "../sass/main";
@import "../sass/cards";
@import "../sass/nosotros";
@import "../sass/portfolio";
@import "../sass/contacto";
@import "../sass/footer";